*{
    margin: 0px;
    padding: 0px;
    }

     body{ 
        background-image: url(images/RT_300EssentialMovies_700X250.jpg);
        background-size: auto;
        
     } 

    header h1 {
        text-align:center;
        padding-top:15px;
        padding-bottom:15px;
        color: rgb(14, 2, 2);
        text-align: left;
    
    }

    header{
        margin-top:auto;
        background-color:#fefdfb;
    }

    .button{
        float: right;
        padding: 11px;
        text-align: center;
        font-size: large;
        color: rgb(83, 28, 28);
        border-style: none;
    }

    h1{
        padding-bottom: 300px;
        padding-top:100px;
        text-align: center;
        color:#edc67e;
        font-size:70px;
    }

    form p{
        font-family: serif;
        font-size: 20px; 
        color: rgb(255, 255, 255);
        text-align: center;

    }

    #email {
        width: 40%;
        padding: 12px 10px;
        margin: 10px;
        box-sizing: border-box;
        border-style: none;
      }
        
    #log {
        padding: 5px;
        text-align: center;
        font-size: large;
        color: rgb(83, 28, 28);
        border-style: none;
    
    }  

        /* div {
            text-align: center;
            margin-bottom: 40px;
        } */
    
        /* li::marker {
            font-size: 24px;
            font-weight: 700;
        } */
    
        /* li {
            padding: 12px;
            margin-bottom: 6px;
            text-decoration: underline;
            text-decoration-color: #FFD147;
            text-decoration-thickness: 5px;
            text-underline-offset: 10px;
            line-height: 40px;
        } */

    footer{
        margin-top:70px;
        background-color:#ffa500;
        color:white;
    }
    footer p{
        text-align:center;
        padding-top:15px;
        padding-bottom:15px;
    }